@model IEnumerable<TrajvRegister10.Models.Fine>

@{
    ViewBag.Title = Resources.Resource.FineOverview;
}

<link type="text/css" rel="stylesheet" href="@Url.Content("~/wwwroot/css/main.css")" />

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="get" action="@Url.Action("Index", "Home")">
                <div class="form-group">
                    <label for="searchCarNumber">@Resources.Resource.SearchCarNumber</label>
                    <input type="text" name="searchCarNumber" class="form-control" placeholder="@Resources.Resource.SearchCarNumber" value="@Request.QueryString["searchCarNumber"]" />
                </div>
                <button type="submit" class="btn btn-primary">@Resources.Resource.Search</button>
            </form>
        </div>

        @if (User.IsInRole("Admin"))
        {
            <div class="col-md-4 text-right">
                <a href="@Url.Action("Create", "Home")" class="btn btn-success" style="margin-top: 25px;">@Resources.Resource.CreateFine</a>
            </div>
        }
    </div>

    <!-- Fines Table -->
    <div class="row">
        <div class="col-md-12">
            @if (Model.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.First().UserEmail)</th>
                            <th>@Html.DisplayNameFor(model => model.First().CarNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
                            <th>@Html.DisplayNameFor(model => model.First().Date)</th>
                            <th>@Html.DisplayNameFor(model => model.First().Velocity)</th>
                            <th>@Html.DisplayNameFor(model => model.First().Sum)</th>
                            <th>@Resources.Resource.Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.UserEmail)</td>
                                <td>@Html.DisplayFor(modelItem => item.CarNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                <td>@Html.DisplayFor(modelItem => item.Velocity)</td>
                                <td>@Html.DisplayFor(modelItem => item.Sum)</td>
                                <td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        @Html.ActionLink(Resources.Resource.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                                        @Html.ActionLink(Resources.Resource.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('@Resources.Resource.ConfirmDelete');" })
                                    }
                                    else
                                    {
                                        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                            <input type="hidden" name="cmd" value="_xclick">
                                            <input type="hidden" name="business" value="your-paypal-business@example.com">
                                            <input type="hidden" name="item_name" value="Fine Payment - @item.CarNumber">
                                            <input type="hidden" name="amount" value="@item.Sum.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)">
                                            <input type="hidden" name="currency_code" value="EUR">
                                            <input type="hidden" name="return" value="@Url.Action("PaymentSuccess", "Home", new { id = item.Id }, Request.Url.Scheme)">
                                            <input type="hidden" name="cancel_return" value="@Url.Action("PaymentCancel", "Home", new { id = item.Id }, Request.Url.Scheme)">
                                            <button type="submit" class="btn btn-primary btn-sm">@Resources.Resource.PayFine</button>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>@Resources.Resource.NoFinesFound</p>
            }
        </div>
    </div>
</div>