@model IEnumerable<TrajvRegister10.Models.Fine>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <img src="~/content/pic.jpg" alt="Header Image" class="img-responsive" style="width: 100%; height: auto;">
    </div>
</div>

<div class="container">
    <!-- Car Number Search Form -->
    <div class="row">
        <div class="col-md-12">
            <form method="get" action="@Url.Action("Index", "Home")">
                <div class="form-group">
                    <label for="searchCarNumber">Search by Car Number:</label>
                    <input type="text" name="searchCarNumber" class="form-control" placeholder="Enter Car Number" value="@Request.QueryString["searchCarNumber"]" />
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a href="@Url.Action("ExportToExcel", "Home")" class="btn btn-info">Export to Excel</a>
                    </div>
                </div>
            </form>
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.First().UserEmail)</th>
                    <th>@Html.DisplayNameFor(model => model.First().CarNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.First().Name)</th>
                    <th>@Html.DisplayNameFor(model => model.First().Date)</th>
                    <th>@Html.DisplayNameFor(model => model.First().Velocity)</th>
                    <th>@Html.DisplayNameFor(model => model.First().Sum)</th>
                    <th>Actions</th> <!-- Добавляем колонку для кнопок -->
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.UserEmail)</td>
                        <td>@Html.DisplayFor(modelItem => item.CarNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.Velocity)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sum)</td>
                        <td>
                            @* Кнопка для редактирования штрафа *@
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })

                            @* Кнопка для удаления штрафа *@
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete this fine?');" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
